*
!nvim/
!nvim/**
!fish/
!fish/**
!allacritty/
!allacritty/**
!bspwm/
!bspwm/**
!rofi/
!rofi/**
!sxhkd/
!sxhkd/**
!tmux/
!tmux/**

!polybar/
!polybar/**
!picom/
!picom/**

# Ignore specific files/folders
fish/fish_variables
tmux/plugins/
tmux/plugins/**
!.gitignore
