*
!nvim/
!nvim/**
!fish/
!fish/**
!allacritty/
!allacritty/**
!bspwm/
!bspwm/**
!rofi/
!rofi/**
!sxhkd/
!sxhkd/**
!tmux/
!tmux/**

# Ignore specific files/folders
fish/fish_variables
tmux/plugins/catppuccin/
tmux/plugins/catppuccin/**
!.gitignore
